@media(max-width:425px) {
    .navbar li {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        gap: 0.5rem;

    }

    .RollinG-h1 {
        font-size: 6rem;
    }


    .header-h1 {
        margin-bottom: 65px;
    }

    .card {
        width: 21.25rem;
        height: 42.25rem;
    }

    .card p {
        padding: 0.1875rem;
        color: black;
        font-size: 22px;
        text-align: center;
        margin: 41px auto;

    }

    .card2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 21.75rem;
        height: fit-content;
        text-align: center;
    }

    .section-clases {
        grid-template-columns: auto;
    }

    .class-img {
        display: flex;
        flex-direction: row;
        margin-left: 1.25rem;
    }
}
 