@media(max-width:425px) {
    .navbar li {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        gap: 0.5rem;

    }

    .RollinG-h1 {
        font-size: 6rem;
    }


    .header-h1 {
        margin-bottom: 65px;
    }
    .card2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 21.75rem;
        text-align: center;
    }

    .section-clases {
        grid-template-columns: auto;
    }

    .class-img {
        display: flex;
        flex-direction: row;
        margin-left: 1.25rem;
    }
}

@media (max-width: 375px) {

    .section-clases {
        grid-template-columns: auto;
    }

    /*.card {
        height: fit-content;
    }*/
    .card {
        width: 6.25rem;
        height: 40.25rem;
        ul {
            flex-direction: column;
            align-items: center;
        }
    }
    .card2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15.75rem;
        text-align: center;
    }
}