$titulo: rgb(144, 160, 102);
$rosa: rgb(228, 92, 228);
$fondointro: rgba(70, 60, 139, 0.329);
$h2letra: rgb(105, 4, 52);
$h2fondo: darkgray;
$contfluid: rgb(136, 129, 184);
$nav: rgba(0, 0, 0, 0.445);
$blancos: white;
$hovernav: rgb(60, 111, 206);
 



