.clases h2 {
    & {
        background-color: rgb(44 233 182 / 34%);
        padding: 50px;
        border-radius: 35px;

        &:hover {
            transform: scale(1.4);
        }
    }
}

.clases {
    width: 18.75rem;
    height: 18.75rem;

    img {
        width: 55px;
        margin: 6px;
        background-color: rgba(246, 248, 119, 0.363);
        border-style: double;
        border-radius: 90%;
    }

    article {
        color: white;
        font-size: 22px;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

.section-clases {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    gap: 40px;
    text-align: center;
}

.class-img {
    & {
        background-image: url(../assets/img/igor-voronetski-S9M9AaB2ODw-unsplash.jpg);
        @include flex;

        &:hover {
            transform: scale(1.4);
        }
    }


    &4 {
        background-image: url(../assets/img/coen-van-de-broek-l6paKWDnDaE-unsplash.jpg);
        @include flex;

        &:hover {
            transform: scale(1.4);
        }
    }

    &3 {
        background-image: url(../assets/img/socksgravel.jpg);
        @include flex;


        &:hover {
            transform: scale(1.4);
        }
    }

    &2 {
        background-image: url(../assets/img/tyrel-johnson-zI7O1I3UBPM-unsplash.jpg);
        @include flex;


        &:hover {
            transform: scale(1.4);
        }
    }

}